
<%- include('parts/header.ejs')%>


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
       
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
           
            <p class="fst-italic">
              JCM Shop is your go-to source for books on sports, history, and geography. We're passionate about providing you with a curated collection of books that cater to your interests. Whether you're a sports fan, history lover, or geography enthusiast, we've got something for you. Explore our selection and embark on your reading journey with JCM Shop.
            </p>
           
          

           
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->




  <%- include('parts/footer.ejs')%>