<%- include('parts/header.ejs')%>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<form method="POST" action="/login">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" name="email" class="form-control" placeholder="Email" />
      
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" name="password" class="form-control" placeholder="password" />
      
    </div>
  
    <!-- 2 column grid layout for inline styling -->

  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
  
    <!-- Register buttons -->
   
  </form>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%- include('parts/footer.ejs')%>